<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="image" property="og:image" content="">
    <meta name="description" property="og:description"
      content="Simple yet effective Vue.js Tasks app that uses localStorage to persist data">
    <meta name="author" content="Kevin Espinal">
    <title>Vue Tasks App</title>
    <script defer src="https://unpkg.com/vue@next"></script>
    <script defer src="app.js"></script>
    <script>
      if (
        window.matchMedia &&
        window.matchMedia('(prefers-color-scheme:dark)').matches
      ) {
        document.documentElement.classList.add('darkTheme');
      } else {
        document.documentElement.classList.add('lightTheme');
      }
    </script>
    <link  rel="stylesheet" href="app.css">
  </head>
  <body >
    <div id="app">
      <h1 v-if="user">{{user}}'s Todos</h1>
      <h1 v-else>My Todos</h1>
      <div v-if="modal" class="modal" >
        <div class="modalcontent">
          <button v-on:click="closeConsent" class="close">Close</button>
          <span>Hi, welcome! It looks like we don't know your name.
          Set a name so that we can give you a better experience.</span>
          <span>This app uses localStorage to provide you with a reliable
            way to store your name and tasks</span>
          <p><em><strong>By entering your name and pressing submit you are giving consent
            (if you do not wish to do so just use the close button in the corner)</strong></em></p>
          <Label for="name">Name: </Label>
          <input
            type="text"
            placeholder="Your Name Here"
            ref="name"
            v-model="user"
          >
          <br>
          <button v-on:click="setLocalStorage">Submit</button>
        </div>
      </div>
      <h6>A simple yet effective Vue.js app that allows you track your tasks</h6>
      <div>
        <h2>
          {{ todos.length === 0 ? "You have no todos, let's start adding some" : "Todo List"
          }}
        </h2>
        <ul v-if="todos.length > 0">
          <li v-for="(todo, index) in todos" v-bind:key="index">
            <div class="task">
              <p>Task: {{ todo.task }}</p>
              <p>{{todo.completed ? 'Completion Date: ' : 'Due Date: '}} {{todo.date}}</p>
            </div>
            <div class="completedContainer">
              <label for="yes">
              <input
                class="markCompleted"
                type="button"
                value="Mark as Completed"
                v-on:click="markCompleted(todo.id)"
                v-if="todo.completed === false"
              />
            <div class="completed" v-if="todo.completed === true"> ✅ </div>
            <!-- <div class="editContainer">
              <label for="edit">
              <input
                class="editTask"
                type="button"
                value="Edit Task"
                v-on:click="editTask(todo.id)"
              />
            </label>
            </div> -->
            <label for="deleteTask">
              <input
                class="markDeleted"
                type="button"
                value="Delete Task"
                v-on:click="deleteTask(todo.id)"
              />
              </label>
          </li>
        </ul>
      </div>
      <form v-on:submit.prevent>
        <label for="todoInput">
          <input
            class="todoInput"
            name="todoInput"
            type="text"
            placeholder="Add a todo"
            ref="todoInput"
            v-on:input="update"
          />
        <p>To be completed by:</p>
        </label>
        <label for="todoDueDate">
          <input
            class="todoDueDate"
            name="todoDueDate"
            type="datetime-local"
            ref="todoDueDate"
            v-on:input="update"
          />

        </label>
        <br>
        <p>This is optional (if date not set will default to current date)</p>
        <br />
        <button v-on:click="addTodo">Submit</button>
      </form>
      <br>
      <footer>
        <button v-on:click="clearApp">Clear my data</button>
      </footer>
    </div>
  </body>
</html>
